doctype html
html
  head
    title Stroboscopic lights
    script(src="./bower_components/webcomponentsjs/webcomponents.js")
    link(rel="import" href="./bower_components/polymer/polymer.html")
    link(rel="import" href="./elements/strobe-lights/strobe-lights.html")
    style
      :stylus
        body
          margin 0
  body
    strobe-lights
